@font-face {
    font-family: Dosis;
    src: url('../fonts/Dosis/Dosis-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Dosis', sans-serif;
  overflow: hidden;
}

#splashScreen {
  width: 100%;
  height: 90%;
  margin-top: 5%;
  background-color: #fff;
  background-image: url('../img/cupPong.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#overview,
#bracketsOverview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(238, 101, 136, 0.8), rgba(246, 149, 96, 0.8)), url('../img/cupPong1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#overview .roundName {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

#overview > div {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
}

.cupTableContainer {
  display: table;
  margin: 10px 0;
}

.cupTable {
  display: table-cell;
  vertical-align: middle;
 -ms-word-break: break-all;
     word-break: break-all;
     word-break: break-word;
-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}

.cupTable .tableTitle {
  width: 30%;
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #fff;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cupTable .tableTitle h3 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: bold;
}

.cupTable .tableTeams {
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3)
}

.cupTable .team1,
.cupTable .vs,
.cupTable .team2 {
  width: 39.5%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
}

.cupTable .tableTeams .vs {
  width: 19.5%;
}

.cupTable .tableTeams .vs h1 {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.cupTable .tableTeams h4 {
  font-size: 38px;
}

.cupTable .tableTeams h1,
.cupTable .tableTeams h4 {
  vertical-align: middle;
}

#waitingList {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
  text-align: center;
}

#waitingList #nextMatches {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #d5d5d5;
  text-align: center;
}

#waitingList .nextMatch {
  padding: 10px 0;
  border-bottom: 1px solid #d5d5d5;
  -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
 -webkit-hyphens: auto;
    -moz-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}

#waitingList #nextMatches .nextMatch .team1,
#waitingList #nextMatches .nextMatch .vs,
#waitingList #nextMatches .nextMatch .team2 {
  vertical-align: middle;
  display: inline-block;
  width: 39.5%;
  text-align: center;
}

#waitingList #nextMatches .nextMatch .vs {
  width: 19%;
}

#waitingList #nextMatches .nextMatch .vs h3 {
  margin: 0;
}

#waitingList .nextMatch:first-child {
  background-image: linear-gradient(90deg, rgba(238, 101, 136, 0.8), rgba(246, 149, 96, 0.8));
  color: #fff;
  font-weight: bold;
}

#newGame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(238, 101, 136, 0.8), rgba(246, 149, 96, 0.8)), url('../img/cupPong2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#newGame .cupTableContainer {
  width: 80%;
  height: 100%;
  margin-left: 10%;
}

#newGame .cupTable .tableTitle h3 {
  font-size: 44px;
}

#newGame .cupTable .tableTeams {
  padding: 60px 0;
}

#newGame .cupTable .tableTeams .vs h1 {
  font-size: 180px;
}

#newGame .cupTable .tableTeams h4 {
  font-size: 56px;
}

#newGame .cupTable .team1anim,
#newGame .cupTable .team2anim {
  display: table;
  margin: auto;
}

#newGame .cupTable .tableTeams .winner {
  background: -webkit-linear-gradient(90deg, rgba(84, 195, 225, 0.9), rgba(107, 195, 120, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#newGame .cupTable .tableTeams .loser {
  background: -webkit-linear-gradient(90deg, rgba(238, 101, 136, 0.9), rgba(246, 149, 96, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#newGame .hideText {
  color: transparent;
}

#champions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-image: linear-gradient(90deg, rgba(238, 101, 136, 0.9), rgba(246, 149, 96, 0.9)), url('../img/beer2.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

#champions .textHide {
  color: transparent;
}

#champions div {
  display: table-cell;
  vertical-align: middle;
}

#champions h2 {
  font-size: 70px;
}

#champions #championsTeam {
  font-size: 120px;
}

#champions #championsPlayers {
  font-size: 50px;
}

#lottery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(238, 101, 136, 0.8), rgba(246, 149, 96, 0.8)), url('../img/cupPong3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  font-size: 70px;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  fill: #fff;
  /*display: flex;
  justify-content: center;
  align-items: center;*/
}

#lottery .lotteryContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/*#bracketsOverview {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  font-size: 15px;
}
@media (min-width: 38em) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 52em) {
  html {
    font-size: 15px;
  }
}
@media (min-width: 72em) {
  html {
    font-size: 16px;
  }
}
.container {
  width: 90%;
  margin: 20px auto;
}

.tournament-bracket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*-webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;*/
}
/*@media (min-width: 38em) {*/
  .tournament-bracket {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
/*}*/
.tournament-bracket__round {
  display: block;
  margin-left: -3px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.tournament-bracket__round-title {
  color: #9e9e9e;
  font-size: 0.95rem;
  font-weight: 400;
  text-align: center;
  font-style: italic;
  margin-bottom: 0.5em;
}
.tournament-bracket__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  min-height: 100%;
  /*border-bottom: 1px dashed #e5e5e5;*/
  /*padding-bottom: 2em;
  margin-bottom: 2em;*/

  -webkit-transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
  transition: padding 0.2s ease-in-out, margin 0.2s ease-in-out;
}
/*@media (max-width: 24em) {
  .tournament-bracket__list {
    padding-bottom: 1em;
    margin-bottom: 1em;
  }
}*/
/*@media (min-width: 38em) {*/
  .tournament-bracket__list {
    /*margin-bottom: 0;
    padding-bottom: 0;*/
    /*border-right: 1px dashed #e5e5e5;*/
    /*border-bottom: 0;*/
  }
/*}*/
.tournament-bracket__round:last-child .tournament-bracket__list {
  border: 0;
}
.tournament-bracket__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  padding: 2% 0;
  width: 48%;
  -webkit-transition: padding 0.2s linear;
  transition: padding 0.2s linear;
}
/*.tournament-bracket__item:nth-child(odd) {
  margin-right: 2%;
}
.tournament-bracket__item:nth-child(even) {
  margin-left: 2%;
}*/
.tournament-bracket__item::after {
  -webkit-transition: width 0.2s linear;
  transition: width 0.2s linear;
}
/*@media (max-width: 24em) {
  .tournament-bracket__item {
    width: 100%;
  }
  .tournament-bracket__item:nth-child(odd),
  .tournament-bracket__item:nth-child(even) {
    margin-left: 0;
    margin-right: 0;
  }
}*/
/*@media (min-width: 38em) {*/
  .tournament-bracket__item {
    padding: 0.5em 1em;
    width: 100%;
  }
  .tournament-bracket__item:nth-child(odd),
  .tournament-bracket__item:nth-child(even) {
    margin: 0;
  }
  .tournament-bracket__item--left::after,
  .tournament-bracket__item--right::after,
  .tournament-bracket__round--final .tournament-bracket__item::after,
  .tournament-bracket__round--semifinals .tournament-bracket__item--L::after {
    position: absolute;
    content: '';
    display: block;
    width: 1em;
    height: 45%;
  }
  .tournament-bracket__item--left::after,
  .tournament-bracket__round--final .tournament-bracket__item::after,
  .tournament-bracket__round--semifinals .tournament-bracket__item--L::after {
    right: 0;
    border-right: 2px solid #9e9e9e;
  }
  .tournament-bracket__item--right::after {
    left: 0;
    border-left: 2px solid #9e9e9e;
  }
  .tournament-bracket__item:nth-child(odd)::after {
    top: 50%;
    border-top: 2px solid #9e9e9e;
    -webkit-transform: translateY(-1px);
            transform: translateY(-1px);
  }
  .tournament-bracket--rounded .tournament-bracket__item--left:nth-child(odd)::after {
    border-top-right-radius: 0.6em;
  }
  .tournament-bracket--rounded .tournament-bracket__item--right:nth-child(odd)::after {
    border-top-left-radius: 0.6em;
  }
  .tournament-bracket__item:nth-child(even)::after {
    bottom: 50%;
    border-bottom: 2px solid #9e9e9e;
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
  }
  .tournament-bracket--rounded .tournament-bracket__item--left:nth-child(even)::after {
    border-bottom-right-radius: 0.6em;
  }
  .tournament-bracket--rounded .tournament-bracket__item--right:nth-child(even)::after {
    border-bottom-left-radius: 0.6em;
  }
  .tournament-bracket__round:first-child .tournament-bracket__item {
    padding-left: 0;
  }
  .tournament-bracket__round:last-child .tournament-bracket__item {
    padding-right: 0;
  }
  /*.tournament-bracket__round:last-child .tournament-bracket__item::after {
    display: none;
  }*/
  .tournament-bracket__round--semifinals .tournament-bracket__item::after {
    border-radius: 0;
    border-right: 0;
  }
/*}*/
@media (min-width: 72em) {
  .tournament-bracket__item {
    padding: 0.5em 1.5em;
  }
  .tournament-bracket__item::after {
    width: 1.5em;
  }
}
.tournament-bracket__match {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #ffffff;
  padding: 5px;
  border: 1px solid transparent;
  border-radius: 0.1em;
  /*box-shadow: 0 2px 0 0 #e5e5e5;*/
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3)
  outline: none;
  /*cursor: pointer;*/
  -webkit-transition: padding 0.2s ease-in-out, border 0.2s linear;
  transition: padding 0.2s ease-in-out, border 0.2s linear;
}
/*.tournament-bracket__match:focus {
  border-color: #2196F3;
}*/
.tournament-bracket__round--final {
  flex-grow: 2;
}
.tournament-bracket__match::before,
.tournament-bracket__match::after {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media (max-width: 24em) {
  .tournament-bracket__match {
    padding: 0.75em 0.5em;
  }
}
@media (min-width: 38em) {
  .tournament-bracket__match--left::before,
  .tournament-bracket__match--left::after,
  .tournament-bracket__match--right::before,
  .tournament-bracket__match--right::after,
  .tournament-bracket__round--final .tournament-bracket__match::before,
  .tournament-bracket__round--semifinals .tournament-bracket__item--R::before {
    position: absolute;
    z-index: 1;
    content: '';
    display: block;
    width: 1em;
    height: 10%;
  }
  .tournament-bracket__match--left::before,
  .tournament-bracket__match--left::after,
  .tournament-bracket__round--final .tournament-bracket__match::before,
  .tournament-bracket__round--semifinals .tournament-bracket__item--R::before {
    left: 0;
    border-left: 2px solid #9e9e9e;
  }
  .tournament-bracket__match--right::before,
  .tournament-bracket__match--right::after {
    right: 0;
    border-right: 2px solid #9e9e9e;
  }
  .tournament-bracket__match::before {
    bottom: 50%;
    border-bottom: 2px solid #9e9e9e;
    -webkit-transform: translate(0, 1px);
            transform: translate(0, 1px);
  }
  .tournament-bracket--rounded .tournament-bracket__match--left::before {
    border-bottom-left-radius: 0.6em;
  }
  .tournament-bracket--rounded .tournament-bracket__match--right::before {
    border-bottom-right-radius: 0.6em;
  }
  .tournament-bracket__match::after {
    top: 50%;
    border-top: 2px solid #9e9e9e;
    -webkit-transform: translate(0, -1px);
            transform: translate(0, -1px);
  }
  .tournament-bracket--rounded .tournament-bracket__match--left::after {
    border-top-left-radius: 0.6em;
  }
  .tournament-bracket--rounded .tournament-bracket__match--right::after {
    border-top-right-radius: 0.6em;
  }
  .tournament-bracket__round--final .tournament-bracket__match::before,
  .tournament-bracket__round--semifinals .tournament-bracket__item--R::before {
    border-bottom-left-radius: 0;
    border-left: 0;
    border-right: 0;
    bottom: 50%;
    border-bottom: 2px solid #9e9e9e;
    -webkit-transform: translate(0, 1px);
    transform: translate(0, 1px);
  }
  .tournament-bracket__round--final .tournament-bracket__item::after,
  .tournament-bracket__round--final .tournament-bracket__match::after {
    border: none;
  }
  .tournament-bracket__round--final .tournament-bracket__item::after,
  .tournament-bracket__round--semifinals .tournament-bracket__item--L::after {
    top: 50%;
    border-top: 2px solid #9e9e9e;
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
  }
}
@media (min-width: 72em) {
  .tournament-bracket__match::before,
  .tournament-bracket__match::after {
    width: 1.5em;
  }
  .tournament-bracket__match::before {
    -webkit-transform: translate(5px, 1px);
            transform: translate(5px, 1px);
  }
  .tournament-bracket__match::after {
    -webkit-transform: translate(0, -1px);
            transform: translate(0, -1px);
  }
  .tournament-bracket__round--final .tournament-bracket__match::before,
  .tournament-bracket__round--final .tournament-bracket__item::after,
  .tournament-bracket__round--semifinals .tournament-bracket__item--L::after,
  .tournament-bracket__round--semifinals .tournament-bracket__item--R::before {
    width: 1.5em;
  }
}

.tournament-bracket__match div {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.tournament-bracket__match .team1 {
  margin-bottom: 0;
}

.tournament-bracket__match .vs {
  margin: 10px 0 10px;
}

.tournament-bracket__match .team2 {
  margin-top: 0;
}

.tournament-bracket__round:last-child .tournament-bracket__match::before,
.tournament-bracket__round:last-child .tournament-bracket__match::after {
  border-left: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match::before {
  border-bottom-left-radius: 0;
}
.tournament-bracket__round:last-child .tournament-bracket__match::before,
.tournament-bracket__round:last-child .tournament-bracket__match::after {
  display: none;
}
.tournament-bracket__round:first-child .tournament-bracket__match::before,
.tournament-bracket__round:first-child .tournament-bracket__match::after {
  display: none;
}
