@font-face {
    font-family: Dosis;
    src: url('../fonts/Dosis/Dosis-Regular.ttf');
}

::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: rgb(238, 101, 136);
}

::selection {
    color: #fff;
    background: rgb(238, 101, 136);
}

body {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-family: 'Dosis', sans-serif;
  overflow: hidden;
}

.btn {
  background-color: transparent;
  border: 2px solid;
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
}
.btn.red {
  border-color: rgb(238, 101, 136);
}
.btn.orange {
  border-color: rgb(246, 149, 96);
}
.btn.green {
  border-color: rgb(107, 195, 120);
}
.btn.red:hover {
  background-color: rgba(238, 101, 136, 0.4);
}
.btn.orange:hover {
  background-color: rgba(246, 149, 96, 0.4);
}
.btn.green:hover {
  background-color: rgba(107, 195, 120, 0.4);
}

#messageBox {
  z-index: 100;
  position: fixed;
  display: block;
  bottom: 15px;
  left: 15px;
  max-width: 50%;
}

.message {
  top: 0;
  width: auto;
  clear: both;
  margin-top: 10px;
  position: relative;
  max-width: 100%;
  height: auto;
  min-height: 48px;
  line-height: 1.5em;
  word-break: break-all;
  padding: 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: linear-gradient(90deg, rgba(84, 195, 225, 0.9), rgba(107, 195, 120, 0.9));
  color: #fff;
  font-size: 24px;
}

.message .btn {
  margin-left: 10px;
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
}

.message .btn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#menu {
  z-index: 5;
  position: fixed;
  top: 0;
  right: -800px;
  width: 800px;
  height: 100%;
  background-color: #fff;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
  -moz-transition: all ease 1s;
      -ms-transition: all ease 1s;
      -o-transition: all ease 1s;
      transition: all ease 1s;
}
#menu.menuOpen {
  right: 0;
}
#menu #toggleMenu {
  position: absolute;
  top: 10px;
  left: -45px;
  z-index: 3;
  width: 45px;
  height: 45px;
  background-color:rgba(84, 195, 225, 0.9);
  cursor: pointer;
}
#menu #toggleMenu .fa {
  color: #fff;
  font-size: 32px;
  margin: 7px 8px;
}

/* Style the tab */
div.tab {
  height: 50px;
  display: flex;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
  flex: 1;
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  max-height: calc(100% - 50px);
  display: none;
  padding: 6px 0;
  overflow-y: auto;
}
#options {
  padding: 10px 20px;
}
#options .buttonDiv {
  display: flex;
}
#options .buttonDiv button {
  flex: 1;
  margin: 0 7px;
}
#lottery #loadSaveLottery {
  display: flex;
}
#lottery #loadSaveLottery .btn {
  flex: 1;
  margin: 7px;
}
#lottery .priceInput {
  display: flex;
}
#lottery .priceInput .input-group {
  max-width: 30%;
}
#lottery .priceInput #priceName,
#lottery .priceInput .input-group,
#lottery .priceInput #addPrice {
  flex: 1;
  margin: 7px;
}
#lottery .form-control:focus {
  border-color: rgb(84, 195, 225);
  box-shadow: none;
}
#lottery .priceInput .input-group-addon {
  border-radius: 0;
}
#lateTeams #lateTeamsList .btn,
#lottery #addPrice,
#lottery #loadSaveLottery .btn,
#lottery #priceList .price .btn,
#lottery #lotteryPlay .btn {
  background-color: transparent;
  border: 2px solid rgb(84, 195, 225);
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
}
#lateTeams #lateTeamsList .btn:hover,
#lottery #addPrice:hover,
#lottery #loadSaveLottery .btn:hover,
#lottery #priceList .price .btn:hover,
#lottery #lotteryPlay .btn:hover {
  background-color: rgba(84, 195, 225, 0.4);
}
#lateTeams #lateTeamsList,
#lottery #priceList,
#history #historyList {
  list-style: none;
  padding: 0;
}
#lateTeamsList li,
#lottery #priceList .price,
#historyList li {
  display: flex;
  padding: 5px 10px;
  border-bottom: 1px solid #b5b5b5;
}
#lateTeams #lateTeamsList .idField,
#lateTeams #lateTeamsList .teamNameDiv,
#lateTeams #lateTeamsList .player1Div,
#lateTeams #lateTeamsList .player2Div,
#lateTeams #lateTeamsList .presentBox,
#lateTeams #lateTeamsList .validateDiv,
#lottery #priceList .price .priceName,
#lottery #priceList .price .priceProb,
#lottery #priceList .price .btnDiv,
#historyList div {
  flex: 1;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  padding: 0 5px;
}
#lateTeams #lateTeamsList .teamNameDiv,
#lateTeams #lateTeamsList .player1Div,
#lateTeams #lateTeamsList .player2Div,
#lateTeams #lateTeamsList .validateDiv {
  flex: 2;
}
#lottery #priceList .price .priceName {
  width: 220px;
}
#lottery #priceList .price .priceProb {
  width: 120px;
}
#lottery #priceList .price .btnDiv {
  width: 70px;
}
#lottery #lotteryPlay {
  padding: 15px;
  text-align: center;
}
#lottery  #lotteryPlayBtn {
  width: 250px;
  padding: 15px;
  font-size: 28px;
}
#lottery #lotteryNewTeam,
#lottery #lotteryFinish {
  width: 125px;
  padding: 10px;
  font-size: 16px;
}
#lottery #lotteryPlay .animation {
  height: 50px;
  font-size: 28px;
}
#historyList h2,
#historyList h4 {
  font-weight: bold;
}
#historyList h2 {
  margin: 0;
}
#historyList h4 {
  margin: 8px 0;
}

.winner {
  background: -webkit-linear-gradient(90deg, rgba(84, 195, 225, 0.9), rgba(107, 195, 120, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.loser {
  background: -webkit-linear-gradient(90deg, rgba(238, 101, 136, 0.9), rgba(246, 149, 96, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#teamInput {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 10px 0;
}

/*#teamInput .col-md-3 {
  padding: 0 5px;
}*/

#teamInput .secondeLine {
  margin-top: 5px;
}

#teamInput .form-control,
#teamInput .btn {
  width: 30%;
  display: inline-block;
  margin: 0 1%;
}

#main .form-control:focus {
  border-color: rgb(238, 101, 136);
  box-shadow: none;
}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  /*background-color: rgba(238, 101, 136, 0.9);*/
  background-image: linear-gradient(90deg, rgba(238, 101, 136, 0.8), rgba(246, 149, 96, 0.8)), url('../img/beer.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
}

#sidebar .btn {
  display: block;
  margin: 10px 0;
  margin-left: 10%;
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff !important;
  width: 80%;
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
}

#sidebar .btn:hover {
  background-color: rgba(255,255,255,0.3);
}

#sidebar input {
  width: 80%;
  margin-left: 10%;
}

#sidebar #startBtn {
  position: absolute;
  width: 80%;
  bottom: 10px;
  left: 0;
  margin-left: 10%;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #ffffff;
  color: #fff !important;
  font-size: 3em;
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
}

#sidebar #startBtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#teamTable {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
 -webkit-hyphens: auto;
    -moz-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;  table-layout: fixed;
  margin-top: 42px;
}
#teamTable thead {
  /* head takes the height it requires,
  and it's not scaled when table is resized */
  flex: 0 0 auto;
  width: calc(100% - 1.2em);
}
#teamTable tbody {
  /* body takes all the remaining available space */
  flex: 1 1 auto;
  display: block;
  overflow-y: scroll;
}
#teamTable tbody tr {
  width: 100%;
}
#teamTable thead, #teamTable tbody tr {
  display: table;
}
#teamTable input,
#teamTable .btn {
  width: 100%;
}
#teamTable .p1LicenceEdit,
#teamTable .p2LicenceEdit {
  margin-top: 5px;
}
#teamTable input[type=text] {
  margin-top: -5px;
}
#teamTable .btn {
  width: 100%;
}
#teamTable .btn,
#teamInput .btn {
  background-color: transparent;
  border: 2px solid rgb(238, 101, 136);
  color: rgb(238, 101, 136);
  -webkit-transition: background-color 300ms; /* Safari */
  transition: background-color 300ms;
}
#teamTable .btn:hover,
#teamInput .btn:hover {
  background-color: rgb(238, 101, 136);
  color: #fff !important;
}
#teamTable .idField {
  width: 8%;
  font-size: 20px;
  font-weight: bold;
}
#teamTable .tableText,
#teamTable th,
#teamTable th.tableText {
  width: 20%;
  font-size: 16px;
}
#teamTable .btnColumn {
  width: 10%;
}
#teamTable th.present,
#teamTable .presentBox {
  width: 10%;
}
#teamTable .idField,
#teamTable .tableText {
  padding-top: 15px;
}
#lateTeamsList .checkbox,
#teamTable tbody .checkbox {
  margin: auto;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 1px solid #d5d5d5;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-color: #eee;
  color: #999;
  -webkit-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
/*.checkbox:hover {
  background: #FF9E2C;
}*/
.checkboxChecked {
  background-color: #fff !important;
  border: 1px solid #E5E5E5 !important;
}
.checkboxChecked .checkboxInner::before,
.checkboxChecked .checkboxInner::after {
  background-color: #99BF4C;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.checkboxChecked .checkboxInner::before {
  -webkit-transform: rotate(47deg);
          transform: rotate(47deg);
  width: 8.5px;
  top: 21.5px;
  left: 10px;
}
.checkboxChecked .checkboxInner::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  left: 22.5px;
}
.checkboxChecked:hover .checkboxInner::before,
.checkboxChecked:hover .checkboxInner::after {
  background: #FF0000;
}
.checkboxChecked:hover .checkboxInner::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  width: 16px;
  top: 18.5px;
  left: 11px;
}
.checkboxChecked:hover .checkboxInner::after {
  height: 16px;
  top: 11px;
  left: 18.5px;
}
.checkboxInner {
  position: relative;
}
.checkboxInner::before, .checkboxInner::after {
  position: absolute;
  content: '';
  background-color: #999;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.checkboxInner::before {
  height: 1px;
  width: 16px;
  top: 18.5px;
  left: 11px;
}
.checkboxInner::after {
  width: 1px;
  height: 16px;
  top: 11px;
  left: 18.5px;
}
.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

#teamTable tbody tr:hover {
  background: linear-gradient(90deg, rgba(238, 101, 136, 0.9), rgba(246, 149, 96, 0.9));
}
#teamTable tbody tr:hover span {
  color: #fff;
}
#teamTable tbody tr:hover .btn {
  border-color: #fff;
  color: #fff;
}

/*#teamTable tbody {
  overflow-y: scroll;
}*/

#overview #tablesListDiv {
  padding: 0;
}

#tablesList {
  overflow-y: scroll;
}

#overview .roundName {
  text-align: center;
}

.cupTable {
  position: relative;
  margin: 5px 0;
 -ms-word-break: break-all;
     word-break: break-all;
     word-break: break-word;
-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}

.cupTable .close {
  float: none;
  position: absolute;
  top: 25px;
  right: 20px;
}

.cupTable .report {
  position: absolute;
  top: 25px;
  left: 20px;
  width: 30px;
  padding-top: 3px;
  font-size: 18px;
}

.cupTable .tableTitle {
  width: 30%;
  margin: auto;
  text-align: center;
  border: 1px solid #d5d5d5;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cupTable .tableTitle h3 {
  margin: 0;
  padding: 0;
}

.cupTable .tableTeams {
  border: 1px solid #d5d5d5;
  border-radius: 5px;
}

.cupTable .team1,
.cupTable .vs,
.cupTable .team2 {
  width: 39.5%;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
}

.cupTable .tableTeams .vs {
  width: 19.5%;
}

.cupTable .tableTeams .vs h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.cupTable label > input{ /* HIDE RADIO */
  visibility: hidden;
  position: absolute;
}
.cupTable label > input + .teamTrophy{ /* IMAGE STYLES */
  cursor:pointer;
}
.cupTable label > input:checked + .teamTrophy{ /* (RADIO CHECKED) IMAGE STYLES */
  background-image: linear-gradient(90deg, rgba(238, 101, 136, 0.9), rgba(246, 149, 96, 0.9));
}

.cupTable label > input:checked + .teamTrophy > .fa{ /* (RADIO CHECKED) IMAGE STYLES */
  color: #fff;
}

.cupTable .teamTrophy {
  padding: 15px 15px 10px 17px;
  border: 1px solid #d5d5d5;
  background-image: none;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: background-color 500ms; /* Safari */
  transition: background-color 500ms;
}

.cupTable .teamTrophy:hover {
  background-color: #eee;
}

.cupTable .teamTrophy .fa {
  color: rgb(238, 101, 136);
}

.cupTable .teamWin {
  text-align: center;
}

.cupTable .teamWinBtn {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  border: 2px solid rgb(238, 101, 136);
  color: rgb(238, 101, 136) !important;
  -webkit-transition: background-color 300ms; /* Safari */
  transition: background-color 300ms;
}

.cupTable .teamWinBtn:hover {
  background-color: rgb(238, 101, 136);
  color: #fff !important;
}

.cupTable .nextMatch {
  width: 100%;
  border-top: 1px solid #D5D5D5;
  text-align: center;
}

/*#menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0;
  height: 100%;
  background-color: #eee;
}*/

#waitingList {
  width: 100%;
  height: 90%;
}

#waitingList #nextMatches {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #d5d5d5;
  overflow-y: scroll;
  text-align: center;
}

#waitingList .nextMatch {
  padding: 10px 0;
  border-bottom: 1px solid #d5d5d5;
  -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
 -webkit-hyphens: auto;
    -moz-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}

#waitingList #nextMatches .nextMatch .team1,
#waitingList #nextMatches .nextMatch .vs,
#waitingList #nextMatches .nextMatch .team2 {
  vertical-align: middle;
  display: inline-block;
  width: 39.5%;
  text-align: center;
}

#waitingList #nextMatches .nextMatch .vs {
  width: 19%;
}

#waitingList #nextMatches .nextMatch .vs h3 {
  margin: 0;
}

#prices {
  width: 100%;
  height: 10%;
  background-color: red;
}

#champions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-image: linear-gradient(90deg, rgba(238, 101, 136, 0.9), rgba(246, 149, 96, 0.9)), url('../img/beer2.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

#champions div {
  display: table-cell;
  vertical-align: middle;
}

#champions h2 {
  font-size: 70px;
}

#champions #championsTeam {
  font-size: 120px;
}

#champions #championsPlayers {
  font-size: 50px;
}

#champions #newGameBtn {
  position: fixed;
  top: 15px;
  left: 15px;
  width: 300px;
  height: 50px;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgba(84, 195, 225, 0.9), rgba(107, 195, 120, 0.9));
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

/*#champions #championsPlayer1,
#champions #championsPlayer2 {
  width: 49.9%;
  display: inline-block;
}*/
