@font-face {
    font-family: Dosis;
    src: url('../fonts/Dosis/Dosis-Regular.ttf');
}

body {
  font-family: 'Dosis', sans-serif;
  overflow: hidden;
}

#splashScreen {
  width: 100%;
  height: 90%;
  margin-top: 5%;
  background-color: #fff;
  background-image: url('../img/cupPong.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

#overview {
  height: 100%;
  background-image: linear-gradient(90deg, rgba(238, 101, 136, 0.8), rgba(246, 149, 96, 0.8)), url('../img/cupPong1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cupTableContainer {
  display: table;
}

.cupTable {
  display: table-cell;
  vertical-align: middle;
  margin: 10px 0;
 -ms-word-break: break-all;
     word-break: break-all;
     word-break: break-word;
-webkit-hyphens: auto;
   -moz-hyphens: auto;
    -ms-hyphens: auto;
        hyphens: auto;
}

.cupTable .tableTitle {
  width: 30%;
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #fff;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cupTable .tableTitle h3 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  font-weight: bold;
}

.cupTable .tableTeams {
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3)
}

.cupTable .team1,
.cupTable .vs,
.cupTable .team2 {
  width: 39.5%;
  height: 100%;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
}

.cupTable .tableTeams .vs {
  width: 19.5%;
}

.cupTable .tableTeams .vs h1 {
  font-size: 80px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.cupTable .tableTeams h4 {
  font-size: 38px;
}

.cupTable .tableTeams h1,
.cupTable .tableTeams h4 {
  vertical-align: middle;
}

#waitingList {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  height: 100%;
  background-color: #fff;
  text-align: center;
}

#waitingList #nextMatches {
  list-style: none;
  margin: 0;
  padding: 0;
  border-top: 1px solid #d5d5d5;
  text-align: center;
}

#waitingList .nextMatch {
  padding: 10px 0;
  border-bottom: 1px solid #d5d5d5;
  -ms-word-break: break-all;
      word-break: break-all;
      word-break: break-word;
 -webkit-hyphens: auto;
    -moz-hyphens: auto;
     -ms-hyphens: auto;
         hyphens: auto;
}

#waitingList #nextMatches .nextMatch .team1,
#waitingList #nextMatches .nextMatch .vs,
#waitingList #nextMatches .nextMatch .team2 {
  vertical-align: middle;
  display: inline-block;
  width: 39.5%;
  text-align: center;
}

#waitingList #nextMatches .nextMatch .vs {
  width: 19%;
}

#waitingList #nextMatches .nextMatch .vs h3 {
  margin: 0;
}

#waitingList .nextMatch:first-child {
  background-image: linear-gradient(90deg, rgba(238, 101, 136, 0.8), rgba(246, 149, 96, 0.8));
  color: #fff;
  font-weight: bold;
}

#newGame {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(238, 101, 136, 0.8), rgba(246, 149, 96, 0.8)), url('../img/cupPong2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#newGame .cupTableContainer {
  width: 80%;
  height: 100%;
  margin-left: 10%;
}

#newGame .cupTable .tableTitle h3 {
  font-size: 44px;
}

#newGame .cupTable .tableTeams {
  padding: 60px 0;
}

#newGame .cupTable .tableTeams .vs h1 {
  font-size: 180px;
}

#newGame .cupTable .tableTeams h4 {
  font-size: 56px;
}

#newGame .cupTable .team1anim,
#newGame .cupTable .team2anim {
  display: table;
  margin: auto;
}

#newGame .cupTable .tableTeams .winner {
  background: -webkit-linear-gradient(90deg, rgba(84, 195, 225, 0.9), rgba(107, 195, 120, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#newGame .cupTable .tableTeams .loser {
  background: -webkit-linear-gradient(90deg, rgba(238, 101, 136, 0.9), rgba(246, 149, 96, 0.9));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#newGame .hideText {
  color: transparent;
}

#champions {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: table;
  background-image: linear-gradient(90deg, rgba(238, 101, 136, 0.9), rgba(246, 149, 96, 0.9)), url('../img/beer2.jpg');
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
}

#champions .textHide {
  color: transparent;
}

#champions div {
  display: table-cell;
  vertical-align: middle;
}

#champions h2 {
  font-size: 70px;
}

#champions #championsTeam {
  font-size: 120px;
}

#champions #championsPlayers {
  font-size: 50px;
}

#lottery {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(238, 101, 136, 0.8), rgba(246, 149, 96, 0.8)), url('../img/cupPong3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-weight: bold;
  font-size: 70px;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  fill: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
